{% extends "blog/base.html" %}

{% block content %}
    <h2>Пости</h2>
    <a href="{% url 'post_new' %}">+ Новий пост</a>
    {% for post in posts %}
        <article class="post">
            <h3>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h3>
            <p class="meta">
                Автор: {{ post.author }} |
                Опубліковано: {{ post.published_date|date:"d.m.Y H:i" }}
            </p>
            <p>{{ post.text|truncatechars:200 }}</p>
        </article>
        <hr>
    {% empty %}
        <p>Ще немає постів.</p>
    {% endfor %}
{% endblock %}
